html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #003b46;
  background: linear-gradient(
    0deg,
    #66A5AD 0%,
    #07575B 50%,
    #66A5AD 100%
  );
}

.App {
  font-family: 'Oxygen', sans-serif;
}

.titulo {
  color: #C4DFE6;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 2px #003B46;
  font-family: 'Playfair Display', serif;
}

.content {
  min-height: calc(100vh - 70px);
  padding-bottom: 50px;
  box-sizing: border-box;
}

.footer-wrapper {
  width: 100%;
  height: 50px;
}

.footer {
  background-color: #003b46;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-footer .content {
  flex-grow: 1;
}

.sticky-footer .footer-wrapper {
  flex-shrink: 0;
}

.small {
  opacity: .5;
  font-weight: 300;
}
.a{
  color: inherit;
}